

@model ContactUs 

<div class="container">
<div class="col-lg-10"style="margin:20px">
    <form action="SaveContact" >
        <div class="form-row">
            <div class="col form-group">
                <input type="text" asp-for="Name" class="form-control"  placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="validate"></div>
            </div>
            <div class="col form-group">
                
                <input type="email" asp-for="Email" class="form-control"  placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="validate"></div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" asp-for="Subject" class="form-control" n placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
            <span asp-validation-for="Subject" class="text-danger"></span>
            <div class="validate"></div>
        </div>
        <div class="form-group">
            <textarea class="form-control" asp-for="Message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
        </div>
    
        <div class="text-center"><button class="btn btn-success" type="submit">Send Message</button></div>
    </form>
</div>
</div>